@font-face {
    font-family: Roboto;
    src: url(./Roboto-Bold.ttf) ;
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: Roboto;
    src: url(./Roboto-light.ttf) ;
    font-weight: 300;
    font-style: normal;
  }